<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <h1 class="text-center" id="question">YO</h1>
    <table class="table table-stripped table-hover">
      <% questions.forEach(function(question) { %>
        <tr <% if(question.best) { %> class="success" <% } %>>
          <td><%= question.question %></td>
          <td><%= question.answer1 %></td>
          <td><%= question.answer2 %></td>
          <td><button class="btn btn-warning" id="<%= question._id %>" onclick="nonsch('<%= question._id %>')">Nem sch-kérdés</button></td>
          <td><button class="btn btn-danger" onclick="deleteItem('<%= question._id %>')">Törlés</button></td>
        </tr>
      <% });   %>
    </table>
    <script type="text/javascript">
      function nonsch(id) {
        $.post('/admin/nonsch', {id: id}, function () {
          
        });
      };
      function deleteItem(id) {
        $.post('/admin/delete', {id: id}, function () {
          
        });
      };
    </script>
    <script src="/assets/js/lodash.js"></script>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
  </body>
</html>
